server {
    server_name mmichalski.com;
    location / {
            proxy_pass http://localhost:5002;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;

    error_log /var/log/nginx/mmichalski-com-error.log warn;
    access_log /var/log/nginx/mmichalski-com-access.log combined;

    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/mmichalski.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/mmichalski.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = mmichalski.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name mmichalski.com;
    return 404; # managed by Certbot


}